@import "../utils/variables";
@import "../utils/breakpoints";

body {
  background: $main-bg;
}

.form-container {
  background: $active-item-text;
  margin: 0 auto;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    min-width: 280px;
    max-width: 707px;
    margin: 0 auto;
    padding: 15px;
  }

  @media screen and (min-width: $tablet) {
    min-width: 588px;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 63px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 1260px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 120px;
  }
}

.container {
  @media screen and (max-width: 767px) {
    padding: 15px;
  }

  @media screen and (min-width: $tablet) {
    padding: 90px;
  }

  @media screen and (min-width: $desktop) {
    padding: 90px;
  }
}

.heading {
  @media screen and (max-width: 767px) {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.3px;
    color: $heading-text-color;
    margin-top: 0;
    margin-bottom: 32px;
  }

  @media screen and (min-width: $tablet) {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.3px;
    color: $heading-text-color;
    margin-top: 0;
    margin-bottom: 42px;
    margin-right: 4px;
  }

  @media screen and (min-width: $desktop) {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.3px;
    color: $heading-text-color;
    margin-top: 0;
    margin-bottom: 42px;
    margin-right: 4px;
  }
}
